[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
